streamlit #frontend library

# Utilities
numpy
pandas


scikit-learn #Face recognition (SVM)
dlib-bin # Face recognition

# a model trained on face images
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0 # helps in installation from github


# DAtabase
supabase # it provide some size database for free like posgress mySql etc.
bcrypt #used for password hashing
 
segno  # for QR
pillow # # helps in image preprocessing


# voice:
librosa #-> Load and edit audio files
resemblyzer #-> to create embeddings of audio files